@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #3E3E3E;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  background-color: #F3F3F3;
  line-height: 1.5;
}

img {
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 83px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header {
    height: 68px;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin: 16px 16px;
  }
}

.is-active {
  opacity: 0;
}

.drawer-hamburger {
  padding: 24px 16px;
  width: 1.6rem;
}

.drawer-hamburger-icon {
  height: 4px;
  margin-top: 8px;
}

.drawer-hamburger-icon::before, .drawer-hamburger-icon::after {
  height: 4px;
}

.drawer-hamburger-icon::before {
  top: -9px;
}

.drawer-hamburger-icon::after {
  top: 9px;
}

@media screen and (max-width: 767px) {
  .drawer--right .drawer-nav {
    right: -19.25rem;
  }
}

.header-nav {
  width: 627px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    width: 300px;
    padding-top: 161px;
    background-color: #fff;
  }
}

.header-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav-item {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .header-nav-item > li:not(:first-child) {
    margin-top: 30px;
  }
}

.header-nav-item-link {
  height: 83px;
  line-height: 83px;
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.4px;
  position: relative;
  -webkit-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
}

.header-nav-item-link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -5.5px;
  left: 0;
  background-color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .header-nav-item-link {
    display: inline-block;
    font-size: 18px;
    height: 22px;
    line-height: 22px;
  }
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 18.72rem;
}

.drawer-open .drawer-hamburger-icon:after, .drawer-open .drawer-hamburger-icon:before {
  background-color: #fff;
}

.drawer-overlay {
  background-color: rgba(62, 62, 62, 0.8);
  z-index: 90;
}

.section {
  margin-top: 120px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 60px;
  }
}

.section-title {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.22222;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
    padding-top: 40px;
  }
}

.util-link {
  display: inline-block;
  padding: 20px 77px;
  border: 1px solid #707070;
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 1.125;
}

.util-link:hover {
  background-color: #3E3E3E;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .util-link {
    font-size: 18px;
    padding: 16px 96px;
  }
}

.top {
  position: relative;
  width: 100%;
  height: 648px;
  background: url(../img/mv.png) no-repeat center center/cover;
}

@media screen and (max-width: 767px) {
  .top {
    height: 668px;
    background-position: 22% center;
  }
}

.top-inner {
  padding-right: 40px;
}

.top-content {
  position: absolute;
  top: 229px;
  right: 0;
  width: 600px;
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .top-content {
    top: 224px;
    width: 100%;
    margin-right: 0;
    padding: 0 16px;
  }
}

.top-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02px;
}

@media screen and (max-width: 767px) {
  .top-title {
    font-size: 24px;
  }
}

.top-text {
  margin-top: 26px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55556;
  letter-spacing: 0.24px;
}

@media screen and (max-width: 767px) {
  .top-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .button-contact {
    text-align: center;
  }
}

.button-contact > a {
  margin-top: 40px;
  display: inline-block;
  color: #fff;
  background-color: #FFAA3B;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 700;
  width: 280px;
  text-align: center;
  letter-spacing: 0.45px;
  -webkit-box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.button-contact > a:hover {
  background-color: #F18900;
}

@media screen and (max-width: 767px) {
  .button-contact > a {
    font-size: 16px;
    width: 222px;
    margin-top: 22px;
  }
}

.news {
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .news {
    position: relative;
    margin-top: -40px;
    z-index: 70;
  }
}

.news-inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}

.news-items {
  padding: 60px 60px 40px 60px;
}

@media screen and (max-width: 767px) {
  .news-items {
    padding: 40px 0px 40px;
  }
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #3E3E3E;
  padding: 38px 80px 38px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #CECDCD;
}

.news-item:last-child {
  border-bottom: 1px solid #CECDCD;
}

.news-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  width: 18px;
  height: 21.5px;
  background: url(../img/news-arrow.png) no-repeat center center/contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .news-item::after {
    right: 8px;
  }
}

.news-item:hover {
  background-color: #4973FF1A;
}

@media screen and (max-width: 767px) {
  .news-item {
    display: block;
    padding: 14px 0px 2px;
  }
}

.news-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 291px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .news-meta {
    padding: 0px 13px;
  }
}

.news-item-date {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 767px) {
  .news-item-date {
    font-size: 14px;
  }
}

.news-item-title {
  margin-left: 40px;
  font-size: 14px;
  width: 120px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border: 2px solid #3B69FF;
  border-radius: 50px;
}

@media screen and (max-width: 767px) {
  .news-item-title {
    font-size: 12px;
    width: 80px;
    height: 20px;
    margin-left: 22px;
    line-height: 18px;
  }
}

.news-item-text {
  width: calc(100% - 291px);
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 1.55556;
}

@media screen and (min-width: 768px) {
  .news-item-text {
    padding-left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .news-item-text {
    width: 100%;
    font-size: 14px;
    padding: 5px 47px 5px 13px;
  }
}

.news-button {
  margin-top: 40px;
  text-align: center;
}

.service {
  background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 400px, transparent 400px, transparent 100%);
}

.service h2 {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .service {
    background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 480px, transparent 480px, transparent 100%);
  }
}

.service-inner {
  padding: 0px 20px;
}

.service-container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 60px 45px;
  -webkit-box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  .service-container {
    display: block;
    margin-top: 42px;
    padding: 36px 13px;
  }
}

.service-item {
  width: calc(100% / 3 - 90px * 2 / 3);
}

.service-item:not(:first-child) {
  margin-left: 90px;
}

@media screen and (max-width: 767px) {
  .service-item {
    width: 100%;
  }
  .service-item:not(:first-child) {
    margin: 0 auto;
    margin-top: 31px;
  }
}

.service-content-image {
  width: 53px;
  height: 73px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.service-content-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 1.4;
  text-align: center;
}

.service-content-text {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.71429;
}

@media screen and (max-width: 767px) {
  .service-content-text {
    margin-top: 10px;
  }
}

.results {
  background-color: #3E3E3E;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .results {
    margin-left: 0;
  }
}

.results h2 {
  color: #fff;
  text-align: left;
  margin-left: 60px;
}

@media screen and (max-width: 767px) {
  .results h2 {
    margin-left: 0;
    text-align: center;
  }
}

.results-inner {
  margin-left: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .results-inner {
    margin-left: 0px;
    padding-bottom: 40px;
  }
}

.swiper-container {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .swiper-container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-wrapper {
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-slide {
    width: 400px !important;
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slide {
    margin-right: 19px;
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .swiper-card {
    width: 274px;
  }
}

.swiper-card-content {
  background-color: #fff;
  padding: 20px 16px;
}

@media screen and (max-width: 767px) {
  .swiper-card-content {
    padding: 12px;
  }
}

.swiper-card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}

@media screen and (max-width: 767px) {
  .swiper-card-title {
    font-size: 14px;
  }
}

.swiper-card-text {
  margin-top: 8px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .swiper-card-text {
    font-size: 12px;
  }
}

.swiper-pagination {
  position: static !important;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .swiper-pagination {
    text-align: left !important;
  }
}

@media screen and (max-width: 767px) {
  .swiper-pagination {
    margin-top: 20px;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  position: relative;
}

.swiper-pagination .swiper-pagination-bullet-active::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #fff;
  border-radius: 50%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
}

@media screen and (max-width: 767px) {
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }
}

.results-button {
  margin-top: 37px;
}

.results-button a {
  color: #fff;
  border-color: #fff;
}

.results-button a:hover {
  background-color: #fff;
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .results-button {
    text-align: center;
    margin-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .price {
    margin-top: 40px;
  }
}

.price h2 {
  padding-top: 0px;
}

.price-inner {
  width: 960px;
  max-width: 100%;
  margin: 60px auto 0;
}

@media screen and (max-width: 767px) {
  .price-inner {
    padding: 0 16px;
    margin: 40px auto 0;
  }
}

.price-table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.20833;
  width: 100%;
}

.price-table th,
.price-table td {
  border: 1px solid #707070;
  height: 60px;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .price-table th,
  .price-table td {
    height: 56px;
  }
}

.price-table th {
  background-color: #3E3E3E;
  color: #fff;
  width: 262px;
}

@media screen and (max-width: 767px) {
  .price-table th {
    width: 100px;
  }
}

.price-table td {
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .price-table td {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .price-table {
    font-size: 20px;
  }
}

.price-attention {
  margin-top: 7px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .price-attention {
    margin-top: 3px;
  }
}

.comments {
  width: 100%;
  position: relative;
}

.comments::before {
  position: absolute;
  content: "";
  display: block;
  top: 144px;
  left: 0;
  bottom: 0;
  width: 76.5%;
  background-color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .comments::before {
    width: 100%;
    top: 57px;
  }
}

.comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.comments-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55.5%;
          flex: 0 1 55.5%;
  background-color: #fff;
  padding: 119px 60px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  z-index: 70;
  margin-bottom: 122px;
}

@media screen and (max-width: 767px) {
  .comments-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 16px 60px;
    padding: 36px 19px 62px 20px;
  }
}

.comments-content > h2 {
  padding-top: 0;
  text-align: left;
}

.comments-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .comments-content-item {
    margin-top: 40px;
  }
}

.comments-content-image > img {
  width: 100px;
}

@media screen and (max-width: 767px) {
  .comments-content-image > img {
    width: 60px;
  }
}

.comments-content-text {
  margin-left: 30px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .comments-content-text {
    font-size: 14px;
    margin-left: 20px;
  }
}

.comments-image {
  margin-top: 75px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44.5%;
          flex: 0 1 44.5%;
  z-index: 70;
}

.qa {
  background: url(../img/qa-bg.png) no-repeat top center/cover;
}

.qa-container {
  width: 651px;
  margin-left: auto;
  padding: 60px 40px 120px 0;
}

@media screen and (max-width: 767px) {
  .qa-container {
    width: 343px;
    padding: 40px 0px 60px;
    margin: 0 auto;
  }
}

.qa-content {
  padding: 16px 16px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.qa-content:not(:first-child) {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .qa-content:not(:first-child) {
    margin-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .qa-content {
    padding: 15px 16px;
  }
}

.qa-question {
  font-weight: 700;
  letter-spacing: 0.4px;
  position: relative;
  padding-left: 40px;
}

.qa-question::before {
  position: absolute;
  content: "Q";
  top: 50%;
  left: 0;
  width: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #3B69FF;
  border-radius: 50%;
  text-align: center;
}

.qa-icon {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa-icon.is-open .qa-bar2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.qa-bar1 {
  width: 17px;
  height: 3px;
  background-color: #3B69FF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.qa-bar2 {
  width: 3px;
  height: 17px;
  background-color: #3B69FF;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.qa-answer {
  margin-top: 17px;
  background-color: #3B69FF33;
  border-radius: 4px;
  padding: 10px 16px;
  display: none;
}

@media screen and (max-width: 767px) {
  .qa-answer {
    font-size: 14px;
    padding: 10px 12px;
    line-height: 1.42857;
  }
}

.access {
  position: relative;
  width: 100%;
  height: 640px;
}

@media screen and (max-width: 767px) {
  .access {
    height: 574px;
  }
}

.access-container {
  position: absolute;
  padding: 120px 8%;
  padding-bottom: 216px;
  color: #fff;
  background-color: #3E3E3E;
  width: 76.5%;
}

@media screen and (max-width: 767px) {
  .access-container {
    padding: 40px 16px 60px 16px;
    width: 100%;
    height: 574px;
  }
}

.access-container h2 {
  padding-top: 0;
  text-align: left;
}

.access-address {
  margin-top: 60px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .access-address {
    margin-top: 40px;
    font-size: 14px;
  }
}

.access-map {
  position: absolute;
  right: 0;
  top: 122px;
  width: 59.7%;
}

@media screen and (min-width: 768px) {
  .access-map {
    padding-right: 40px;
    max-width: calc(100% - 475px);
  }
}

@media screen and (max-width: 767px) {
  .access-map {
    width: 100%;
    left: 0;
    top: 195px;
    padding: 0 16px;
  }
}

.access-map iframe {
  -webkit-box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.2);
  width: 100%;
}

@media screen and (max-width: 767px) {
  .access-map iframe {
    height: 241px;
  }
}

.access-button {
  position: absolute;
  top: 320px;
  left: 0;
  padding: 0 8%;
}

.access-button a {
  color: #fff;
  letter-spacing: 2px;
  border-color: #fff;
}

.access-button a:hover {
  background-color: #fff;
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .access-button a {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .access-button {
    top: 461px;
    padding: 0 16px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.contact {
  background: url(../img/contact-bg.png) no-repeat center center/cover;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 0;
  }
}

.contact-inner {
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .contact-inner {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .contact-inner {
    margin: 0 16px;
    padding: 44px 0;
  }
}

.contact-container {
  border-radius: 12px;
  background-color: #fff;
}

.contact-content {
  color: #fff;
  text-align: center;
  background: url(../img/contact1.png) no-repeat center center/cover;
  border-radius: 12px 12px 0 0;
}

.contact-content-text {
  padding-top: 16px;
  padding-bottom: 57px;
}

@media screen and (max-width: 767px) {
  .contact-content-text {
    font-size: 14px;
    padding: 7px 16px 35px 16px;
    text-align: left;
  }
}

.contact-form {
  font-weight: 700;
  padding: 60px 120px;
}

@media screen and (max-width: 767px) {
  .contact-form {
    padding: 40px 12px;
  }
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-item:not(:first-child) {
  margin-top: 31px;
}

@media screen and (max-width: 767px) {
  .contact-item:not(:first-child) {
    margin-top: 27px;
  }
}

@media screen and (max-width: 767px) {
  .contact-item {
    display: block;
  }
}

.contact-item-title {
  width: 128px;
  margin-right: 60px;
}

@media screen and (max-width: 767px) {
  .contact-item-title {
    margin-bottom: 9px;
  }
}

.contact-item-title-inline {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  background-color: #FF4646;
  border-radius: 2px;
  margin-left: 12px;
  line-height: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 767px) {
  .contact-item-title-inline {
    margin-left: 20px;
  }
}

.contact-item-input {
  width: calc(100% - 188px);
}

.contact-item-input input[type="text"],
.contact-item-input input[type="email"] {
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #3E3E3E;
  padding-bottom: 9px;
  opacity: 0.5;
  position: relative;
}

.contact-item-input input[type="text"]::-webkit-input-placeholder,
.contact-item-input input[type="email"]::-webkit-input-placeholder {
  padding-left: 12px;
}

.contact-item-input input[type="text"]:-ms-input-placeholder,
.contact-item-input input[type="email"]:-ms-input-placeholder {
  padding-left: 12px;
}

.contact-item-input input[type="text"]::-ms-input-placeholder,
.contact-item-input input[type="email"]::-ms-input-placeholder {
  padding-left: 12px;
}

.contact-item-input input[type="text"]::placeholder,
.contact-item-input input[type="email"]::placeholder {
  padding-left: 12px;
}

@media screen and (max-width: 767px) {
  .contact-item-input input[type="text"]::-webkit-input-placeholder,
  .contact-item-input input[type="email"]::-webkit-input-placeholder {
    padding-left: 0;
    font-size: 14px;
  }
  .contact-item-input input[type="text"]:-ms-input-placeholder,
  .contact-item-input input[type="email"]:-ms-input-placeholder {
    padding-left: 0;
    font-size: 14px;
  }
  .contact-item-input input[type="text"]::-ms-input-placeholder,
  .contact-item-input input[type="email"]::-ms-input-placeholder {
    padding-left: 0;
    font-size: 14px;
  }
  .contact-item-input input[type="text"]::placeholder,
  .contact-item-input input[type="email"]::placeholder {
    padding-left: 0;
    font-size: 14px;
  }
}

.contact-item-input input[type="text"]:hover, .contact-item-input input[type="text"]:focus,
.contact-item-input input[type="email"]:hover,
.contact-item-input input[type="email"]:focus {
  outline: none;
  cursor: pointer;
}

.contact-item-input input[type="text"]:hover + .contact-item-border, .contact-item-input input[type="text"]:focus + .contact-item-border,
.contact-item-input input[type="email"]:hover + .contact-item-border,
.contact-item-input input[type="email"]:focus + .contact-item-border {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .contact-item-input input[type="text"],
  .contact-item-input input[type="email"] {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .contact-item-input {
    width: 100%;
  }
}

.contact-item-border {
  display: block;
  opacity: 0;
  width: 100%;
  height: 1px;
  background-color: #4973FF;
  -webkit-box-shadow: 0px 5px 4px rgba(73, 115, 255, 0.5);
          box-shadow: 0px 5px 4px rgba(73, 115, 255, 0.5);
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.contact-select-wrap {
  position: relative;
}

.contact-select-wrap select {
  position: relative;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #707070;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border-radius: 0;
  background: #fff;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s;
  letter-spacing: 2.2px;
}

.contact-select-wrap select:hover, .contact-select-wrap select:focus {
  -webkit-box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
          box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .contact-select-wrap select {
    width: 100%;
  }
}

.contact-select-wrap::after {
  content: "";
  position: absolute;
  display: block;
  right: 14px;
  top: 11px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #3E3E3E;
  border-left: 2px solid #3E3E3E;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.contact-radio-wrap .contact-radio {
  position: relative;
}

.contact-radio-wrap input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-radio-wrap input[type="radio"]:focus + span::before {
  -webkit-box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
          box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
  border-color: #4973FF;
}

.contact-radio-wrap span {
  display: inline-block;
  padding-left: 20px;
  position: relative;
  margin-right: 35px;
  font-weight: 500;
}

.contact-radio-wrap span::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #707070;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
}

.contact-radio-wrap span::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 50%;
  left: 3.5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #3B69FF;
  display: none;
}

.contact-radio-wrap span:hover::before {
  -webkit-box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
          box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
  border-color: #4973FF;
  cursor: pointer;
}

.contact-radio-wrap span:active::before {
  background-color: #4973FF33;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-radio-wrap input[type="radio"]:checked + span::after {
  display: block;
}

.contact-textarea {
  margin-top: 24px;
}

.contact-textarea-input textarea {
  width: 100%;
  padding: 4px 4px;
  height: 200px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  font-size: 16px;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s;
}

.contact-textarea-input textarea:hover, .contact-textarea-input textarea:focus {
  -webkit-box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
          box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
  border: 1px solid #4973FF;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .contact-textarea-input textarea {
    height: 160px;
  }
}

.contact-footer {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .contact-footer {
    margin-top: 20px;
  }
}

.contact-privacy .contact-privacy-check {
  position: relative;
}

.contact-privacy input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy input[type="checkbox"]:focus + span::before {
  border-color: #4973FF;
  -webkit-box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.2);
          box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.2);
}

.contact-privacy span {
  display: inline-block;
  padding-left: 40px;
  padding-top: 2px;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

.contact-privacy span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .contact-privacy span::before {
    width: 18px;
    height: 18px;
  }
}

.contact-privacy span::after {
  content: "";
  position: absolute;
  border-left: 2px solid #3B69FF;
  border-bottom: 2px solid #3B69FF;
  width: 13px;
  height: 6px;
  background-color: #fff;
  top: 8.5px;
  left: 3.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: none;
}

.contact-privacy span:hover::before {
  border-color: #4973FF;
  -webkit-box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.2);
          box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.2);
}

.contact-privacy span:active::before {
  background-color: #4973FF33;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 767px) {
  .contact-privacy span {
    font-size: 16px;
  }
}

.contact-privacy input[type="checkbox"]:checked + span::after {
  display: block;
}

@media screen and (max-width: 767px) {
  .contact-footer-submit {
    text-align: center;
  }
}

.button-submit {
  margin-top: 37px;
  display: inline-block;
  color: #fff;
  background-color: #B2B2B2;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 700;
  width: 173px;
  text-align: center;
  letter-spacing: 0.45px;
  -webkit-box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.button-submit.-active {
  cursor: pointer;
  background-color: #FFAA3B;
}

.button-submit.-active:hover {
  background-color: #F18900;
}

@media screen and (max-width: 767px) {
  .button-submit {
    font-size: 16px;
    margin-top: 30px;
    width: 168px;
  }
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact-message.-error {
  color: #f00;
}

.footer {
  background-color: #3E3E3E;
  width: 100%;
}

.footer-inner {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #E3E3E3;
  padding: 45px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer-inner {
    display: block;
    text-align: center;
  }
}

.footer-content-left a {
  color: #E3E3E3;
}

.footer-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-sns-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-sns-item {
  margin-top: 2px;
  opacity: 0.6;
}

.footer-sns-item + .footer-sns-item {
  margin-left: 29px;
}

@media screen and (max-width: 767px) {
  .footer-sns-item + .footer-sns-item {
    margin-left: 49px;
  }
}

@media screen and (max-width: 767px) {
  .footer-sns-item {
    margin-top: 0;
  }
}

.footer-sns-item-link {
  display: inline-block;
  font-size: 40px;
}

.footer-nav-list {
  margin-top: 25px;
}

.footer-nav-item {
  letter-spacing: 0.4px;
}

.footer-nav-item + .footer-nav-item {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .footer-nav-item + .footer-nav-item {
    margin-top: 18px;
  }
}

@media screen and (max-width: 767px) {
  .footer-nav-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .footer-content-right {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .footer-content-right {
    margin-top: 28px;
  }
}

.footer-content-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.925;
}

@media screen and (max-width: 767px) {
  .footer-content-header {
    font-size: 32px;
  }
}

.footer-content-copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.3px;
  text-align: right;
  color: #fff;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .footer-content-copyright {
    text-align: center;
  }
}

.to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  z-index: 70;
}

.to-top.is-show {
  opacity: 1;
  visibility: visible;
}

.to-top a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.to-top a:hover {
  opacity: 0.7;
}

.to-top a img {
  width: 50px;
}

@media screen and (max-width: 767px) {
  .to-top {
    right: 16px;
    bottom: 13px;
  }
}
